.comment-author {
  margin-right: 30px;
}

.comment {
  margin-top: 10px;
  padding-left: 10px;
}

.comment-bullet {
  display: inline-block;
  width: 6px;
  height: 6px;
  background-color: black;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 5px;
}
